<div class="laptop-title">
  <h2>All Laptops</h2>
  <div class="cards-container">
    <% @laptops.each do |laptop| %>
    <div class="laptop-card">
      <a href=<%=laptop_path(laptop)%>>
      <%= cl_image_tag(laptop.photo.key, :class=>"laptop-image", :alt=>"laptop image", :width=>350, :height=>250) %>
        <div class="specs">
          <h4><%= laptop.brand %> <%= laptop.model %> | <%= laptop.year_built %><%= "| #{("⭐" * laptop.average_rating)}" if laptop.average_rating > 0 %></h4>
          <p class ="laptop-text"> HDD/SSD: <%= laptop.hard_drive %>, RAM: <%= laptop.ram %>, <%= laptop.screen_size %>"</p>
          <h5 class ="laptop-text">€<%= '%.2f' % (laptop.price * 10) %>/day </h5>
          <a href=<%=laptop_path(laptop)%> class="btn-rent"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @laptops %>

</div>
