<div class="newest">
  <h2>Newest</h2>
  <div class="cards-container">
    <% @laptops.first(5).each do |laptop| %>
    <div class="laptop-card">
      <img class="laptop-image" src="<%= laptop.photo.key %>" alt="laptop image">
        <div class="specs">
          <p class ="laptop-title"><%= laptop.brand %> <%= laptop.model %> | <%= laptop.year_built %></p>
          <p class ="laptop-title"> HDD/SSD: <%= laptop.hard_drive %>, Ram: <%= laptop.ram %>, <%= laptop.screen_size%>"</p>
          <p class ="laptop-price"><%= "€#{laptop.price}/hour" %></p>
          <a href=<%=new_laptop_booking_path(laptop)%> class="btn-rent"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="newest">
  <h2>Most rated</h2>
  <div class="cards-container">
    <% @laptops.first(5).each do |laptop| %>
    <div class="laptop-card">
      <img class="laptop-image" src="<%= laptop.photo.key %>" alt="laptop image">
        <div class="specs">
          <p class ="laptop-title"><%= laptop.brand %> <%= laptop.model %> | <%= laptop.year_built %></p>
          <p class ="laptop-title"> HDD/SSD: <%= laptop.hard_drive %>, Ram: <%= laptop.ram %>, <%= laptop.screen_size%>"</p>
          <p class ="laptop-price"><%= "€#{laptop.price}/hour" %></p>
          <a href=<%=new_laptop_booking_path(laptop)%> class="btn-rent"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
