<div class="booking">

  <div id="left-side" style="width: 60%;">
    <div class="laptop-title">
      <h2><%= @laptop.brand %> <%= @laptop.model %> | <%= @laptop.year_built %> | <%= @review %></h2>
      <div class="product-specs">
        <%= cl_image_tag(@laptop.photo.key, :class=>"booking-image", :alt=>"laptop image", :width=>350, :height=>250) %>
        <h3>Specs</h3>
        <ul>
          <li>Hard Disk: <%= @laptop.hard_drive %></li>
          <li>Ram: <%= @laptop.ram %></li>
          <li>Screen size: <%= @laptop.screen_size %>"</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="right-side">
    <div class="laptop-title">
      <h2>checkout</h2>
      <div class="form-styled" >
        <%= simple_form_for @booking do |f| %>
        <p>Select how many days you want to rent it</p>
          <%= f.select(:duration, options_for_select(1..30))%>
      </div>
          <%= f.submit class:"btn-rent", value:"Book" %>
        <% end %>
    </div>
  </div>

</div>


<div class="laptop-title">
  <h2>Similar products</h2>
  <div class="cards-container">
    <% @laptops[5..8].each do |laptop| %>
    <div class="laptop-card">
      <a href=<%=laptop_path(laptop)%>>
      <%= cl_image_tag(laptop.photo.key, :class=>"laptop-image", :alt=>"laptop image", :width=>350, :height=>250) %>
        <div class="specs">
          <h4><%= laptop.brand %> <%= laptop.model %> | <%= laptop.year_built %></h4>
          <p class ="laptop-text"> HDD/SSD: <%= laptop.hard_drive %>, Ram: <%= laptop.ram %>, <%= laptop.screen_size%>"</p>
          <h5 class ="laptop-text">€<%= '%.2f' % (laptop.price * 10) %>/day </h5>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div id="right-side" style="width: 100%;">
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
