<h2><%= @laptop.model %></h2>
<div id="left-side" style="width: 60%;">
  <div class="laptop-card">
      <h2><%= @laptop.brand %> <%= @laptop.model %> | <%= @laptop.year_built %></h2>
      <div class="specs">
        <%= cl_image_tag(@laptop.photo.key, :class=>"booking-image", :alt=>"laptop image", :width=>350, :height=>250) %>
        <h3>Specs</h3>
        <ul>
          <li><strong>Hard Disk:</strong> <%= @laptop.hard_drive %></li>
          <li><strong>Ram</strong>: <%= @laptop.ram %></li>
          <li><strong>Screen Size:</strong> <%= @laptop.screen_size %>"</li>
          <li><strong>Price per Hour:</strong> €<%= @laptop.price %></li>
        </ul>
        <a href=<%=new_laptop_booking_path(@laptop)%> class="btn-rent"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </div>
  </div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
